# Import Modules

In [1]:
import pandas as pd

print(pd.__version__)

1.3.4

# Persiapan Data Frame

In [2]:
d = {'dokter':['Budi', 'Wati', 'Iwan', 'Budi', 'Budi', 'Wati'],
    'pasien':['Abdul', 'Rahmat', 'Asep', 'Balon', 'Joko', 'Wiwin']}

df = pd.DataFrame(d)
df

  dokter  pasien
0   Budi   Abdul
1   Wati  Rahmat
2   Iwan    Asep
3   Budi   Balon
4   Budi    Joko
5   Wati   Wiwin

# Mengenal fungsi agregasi first() dan last()

In [3]:
df.groupby('dokter')['pasien'].count().to_frame() #fungsi count() untuk mendata jumlah pasien untuk setiap dokter yang bertugas

        pasien
dokter
Budi         3
Iwan         1
Wati         2

In [4]:
df.groupby('dokter')['pasien'].first().to_frame() #menampilkan data pertama untuk setiap kelompoknya atau
                                                    #menampilkan pasien pertama setiap dokter

        pasien
dokter
Budi     Abdul
Iwan      Asep
Wati    Rahmat

In [5]:
df.groupby('dokter')['pasien'].last().to_frame()#menampilkan data terakhir untuk setiap kelompoknya atau
                                                    #menampilkan pasien terakhir setiap dokter

       pasien
dokter
Budi     Joko
Iwan     Asep
Wati    Wiwin