# 07: Menghapus (drop) missinng values (NaN)

Import Modules

In [1]:
import pandas as pd 

print(pd.__version__)

1.3.4

Pesiapan Data Frame

In [4]:
df = pd.util.testing.makeMissingDataframe().reset_index()
df.head()

D:\Marnat\KULIAH\Semester 2\Statistika Bisnis\Annaconda\lib\site-packages\pandas\util\__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

        index         A         B         C         D
0  Z7aaGaTJRj  1.383679 -0.845513  0.455925 -0.081422
1  zmXYSin8XO  0.893122  1.121792 -1.450502 -0.679017
2  BVGUuyr1i3 -1.857229 -0.137648  1.564428  1.186769
3  D4yh9PpF1P -0.332547  0.663821 -0.597775  0.559310
4  TyUvR8Czle  0.175891  1.285657  2.438070  1.344851

In [5]:
df = df.rename(columns={'index':'Z'})
df.head()

            Z         A         B         C         D
0  Z7aaGaTJRj  1.383679 -0.845513  0.455925 -0.081422
1  zmXYSin8XO  0.893122  1.121792 -1.450502 -0.679017
2  BVGUuyr1i3 -1.857229 -0.137648  1.564428  1.186769
3  D4yh9PpF1P -0.332547  0.663821 -0.597775  0.559310
4  TyUvR8Czle  0.175891  1.285657  2.438070  1.344851

In [6]:
df_backup = df.copy(deep=True)

Menghapus (drop) setiap kolom yang mengandung missing values

In [7]:
df = df.dropna(axis='columns')
df.head()

            Z
0  Z7aaGaTJRj
1  zmXYSin8XO
2  BVGUuyr1i3
3  D4yh9PpF1P
4  TyUvR8Czle

In [ ]:
Menghapus (drop) setiap baris yang mengandung missing values

In [8]:
df = df_backup.copy(deep=True)
df = df.dropna(axis='rows')
df.head()

            Z         A         B         C         D
0  Z7aaGaTJRj  1.383679 -0.845513  0.455925 -0.081422
1  zmXYSin8XO  0.893122  1.121792 -1.450502 -0.679017
2  BVGUuyr1i3 -1.857229 -0.137648  1.564428  1.186769
3  D4yh9PpF1P -0.332547  0.663821 -0.597775  0.559310
4  TyUvR8Czle  0.175891  1.285657  2.438070  1.344851

Pesentase missing values untuk tiap kolom

In [9]:
df = df_backup.copy(deep=True)
df.isna().mean()

Z    0.000000
A    0.066667
B    0.133333
C    0.066667
D    0.133333
dtype: float64

Menghapus (drop) setiap kolom yang mengandung missing values berdasarkan threshold

In [10]:
treshold = len(df) * 0.9
df = df.dropna(thresh=treshold, axis='columns')
df.head()

            Z         A         C
0  Z7aaGaTJRj  1.383679  0.455925
1  zmXYSin8XO  0.893122 -1.450502
2  BVGUuyr1i3 -1.857229  1.564428
3  D4yh9PpF1P -0.332547 -0.597775
4  TyUvR8Czle  0.175891  2.438070