# Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

# Persiapan Data Frame

In [4]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)),
                 columns=cols)

df

   usia
0    40
1    50
2    15
3    29
4    57
5    47
6    64
7    68
8    41
9    55

# Pengelompokkan nilai numerik ke dalam beberapa kategori menggunakan cut()

In [5]:
df['kelompok_usia'] = pd.cut(df['usia'],
                            bins = [0, 18, 65, 99],
                            labels = ['anak', 'dewasa', 'manula'])
df

   usia kelompok_usia
0    40        dewasa
1    50        dewasa
2    15          anak
3    29        dewasa
4    57        dewasa
5    47        dewasa
6    64        dewasa
7    68        manula
8    41        dewasa
9    55        dewasa