# Import Modules

In [2]:
import pandas as pd

print(pd.__version__)

1.3.4

# Membuat Data Frame dari hasil seleksi Spreadsheet

In [3]:
df = pd.read_clipboard() #baris pertama akan selalu digunakan sebagai nama kolom
df

  id_produk           nama_produk    jenis
0     P-001  Nomadic's Fried Rice  Makanan
1     P-002  Thai Grilled Chicken  Makanan
2     P-003          Menchi Katsu  Makanan
3     P-004          Aglio E Olio  Makanan
4     P-005             Carbonara  Makanan
5     P-006     Passion For Paris  Minuman
6     P-007          Osaka Breeze  Minuman
7     P-008       Tonico De Berry  Minuman
8     P-009         Hot Capuccino  Minuman
9     P-010             Ice Latte  Minuman

In [4]:
df = pd.read_clipboard() #baris pertama akan selalu digunakan sebagai nama kolom, tergantung yg kalian pilih.
df

   P-003       Menchi Katsu  Makanan
0  P-004       Aglio E Olio  Makanan
1  P-005          Carbonara  Makanan
2  P-006  Passion For Paris  Minuman
3  P-007       Osaka Breeze  Minuman
4  P-008    Tonico De Berry  Minuman
5  P-009      Hot Capuccino  Minuman