In [ ]:
#01: Menyertakan Prefix dan Suffix pada seluruh kolom Data Frame

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

Persiapan Data Frame

In [2]:
import pandas as pd
import numpy as np

n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                 columns=cols)
df

   A  B  C  D  E
0  3  9  1  6  4
1  6  5  5  9  6
2  9  9  6  2  9
3  3  7  7  7  9
4  6  7  5  9  2

In [3]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

Menyertakan Prefix Kolom

In [7]:
import pandas as pd
import numpy as np

n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                 columns=cols)
df

df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        5        6        2        8        5
1        7        3        6        9        9
2        9        4        8        3        5
3        1        5        2        4        6
4        2        2        7        4        7

Menyertakan Suffix Kolom

In [8]:
import pandas as pd
import numpy as np

n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                 columns=cols)
df

df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        8        3        8        1        1
1        9        9        5        7        4
2        2        8        1        1        9
3        8        1        7        1        2
4        3        9        2        3        4